@font-face {
    font-family: "Montserrat";
    src: local("SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: local("ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: local("Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat';
}


h1,
h2,
h3 {
    margin: 0;
}

h3 {
    font-weight: 700;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.button-reset {
    padding: 0;
}

.list-reset {
    list-style-type: none;
    text-decoration: none;
}


.header {
    background-color: #3F2AFF;
    padding-top: 29px;
    padding-bottom: 5px;
}

.header__header-content {
    align-items: center;
}


.header__links-list {
    gap: 56px;
    position: relative;
    justify-content: right;
    max-width: 100%;
    bottom: 26px;
}

.header__link {
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

/* About-3d */

.about-3d {
    background: url('../images/about-3d-image.png'), radial-gradient(44.00% 44.00% at 68% 56.00000000000001%, rgb(85, 86, 129), rgb(33, 33, 51) 100%);
    background-repeat: no-repeat;
    background-position: 80% 70%;
    padding-bottom: 100px;
    margin-bottom: 80px;
}

.about-3d__content {
    padding-top: 130px;
    padding-bottom: 30px;
}

.about-3d__title {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 100%;
}

.about-3d__text {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
    line-height: 150%;
}

.about-3d__btn {
    font-family: "Roboto", sans-serif;
    border: none;
    color: white;
    padding: 24px 83px 24px 83px;
    border-radius: 20px;
    background: rgb(63, 42, 255);
}

/* Advantages */

.advantage {
    margin-bottom: 70px;
}

.advantage__main {
    flex-wrap: nowrap;
}

.advantage__title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
    letter-spacing: 0%;
}

.advantage__text {
    font-family: 'Roboto', sans-serif;
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}


.advantage__advice {
    color: rgb(102, 102, 102);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left: 125px;
    padding-top: 31px;
}

.advantage__advice--1st {
    background-image: url('../images/eye-circle.svg');
    background-repeat: no-repeat;
    padding-bottom: 25px;
    background-position-x: 15px;
    background-position-y: 20px;
}

.advantage__advice--2nd {
    background-image: url('../images/fingers.svg');
    background-repeat: no-repeat;
    padding-bottom: 25px;
    background-position-x: 15px;
    background-position-y: 20px;
}

.advantage__advice--3rd {
    background-image: url('../images/micophone-circle.svg');
    background-repeat: no-repeat;
    padding-bottom: 25px;
    background-position-x: 15px;
    background-position-y: 20px;
}



/* About-teachers */

.about-teachers {
    background-color: rgb(33, 33, 51);
    padding-top: 75px;
    padding-bottom: 80px;
}

.about-teachers__title {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
}

.about-teachers__img {
    margin-bottom: 30px;
}

.about-teachers__card-title {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
}

.about-teachers__text {
    color: rgb(133, 133, 155);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

/* courses */

.courses {
    padding-top: 75px;
    margin-bottom: 47px;
}

.courses__title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 21px;
}


.courses__card--1st {
    background-image: url("../images/Cinema-4d.png");
}

.courses__card--2nd {
    background-image: url("../images/Blender.png");
}

.courses__card--3rd {
    background-image: url("../images/3ds.png");
}

.courses__card--4th {
    background-image: url("../images/ZBrush.png");
}

.courses__card {
    margin-bottom: 30px;
}

.courses__card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 39%;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 31px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: rgb(237, 240, 249);
    border-radius: 20px;
    background-size: 100%;
    height: 100%;
}

.courses__card--1st::before {
    content: "60 часов";
    position: absolute;
    background-image: url(../images/mdi_access_time.svg);
    background-repeat: no-repeat;
    background-position: left;
    top: 13px;
    left: 438px;
    padding-left: 30px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.courses__card--2nd::before {
    content: "40 часов";
    position: absolute;
    background-image: url(../images/mdi_access_time.svg);
    background-repeat: no-repeat;
    background-position: left;
    top: 13px;
    left: 438px;
    padding-left: 30px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.courses__card--3rd::before {
    content: "40 часов";
    position: absolute;
    background-image: url(../images/mdi_access_time.svg);
    background-repeat: no-repeat;
    background-position: left;
    top: 13px;
    left: 438px;
    padding-left: 30px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.courses__card--4th::before {
    content: "80 часов";
    position: absolute;
    background-image: url(../images/mdi_access_time.svg);
    background-repeat: no-repeat;
    background-position: left;
    top: 13px;
    left: 438px;
    padding-left: 30px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}



.courses__card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 10px;
}

.courses__text {
    color: rgb(102, 102, 102);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 47px;
}



.courses__btn {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    border-radius: 20px;
    background: rgb(63, 42, 255);
    border: none;
    padding: 20.5px 5%;
    max-width: 202px;
    margin-top: auto;
}

/* footer */

.footer {
    background-color: rgb(46, 43, 68);
    padding: 32px 0px 28px 0px;
}

.footer__socials {
    justify-content: center;
    gap: 35px;
}

.under-footer__content {
    justify-content: center;
}

.under-footer__text {
    font-family: 'Roboto', 'sans-serif';
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    background-color: #fff;
    align-items: center;
}

@media (max-width:1200px) {

    .courses__card--1st::before {
        left: 70%;
    }

    .courses__card--2nd::before {
        left: 70%;
    }

    .courses__card--3rd::before {
        left: 70%;
    }

    .courses__card--4th::before {
        left: 70%;
    }


}


@media(max-width:1060px) {

    .about-3d__title {
        font-size: 50px;
    }

    .about-3d {
        background: url('../images/about-3d-small-image.png'), radial-gradient(44.00% 44.00% at 68% 56.00000000000001%, rgb(85, 86, 129), rgb(33, 33, 51) 100%);
        background-repeat: no-repeat;
        background-position: 80% 50%;
        padding-bottom: 100px;
        margin-bottom: 80px;
    }



}

@media (max-width:992px) {

    .advantage__advice {
        padding: 95px 0px 0px;
    }

    .courses__card--1st::before {
        left: 60%;
    }

    .courses__card--2nd::before {
        left: 60%;
    }

    .courses__card--3rd::before {
        left: 60%;
    }

    .courses__card--4th::before {
        left: 60%;
    }
}

@media(max-width:858px) {

    .header__links-list {
        margin-right: 0;
        order: 3;
        width: 100%;
        justify-content: space-between;
        margin-top: 40px;
        overflow: scroll;
    }

    .header__header-logo {
        margin-left: 43%;
    }

    .about-3d {
        background: radial-gradient(44.00% 44.00% at 68% 56.00000000000001%, rgb(85, 86, 129), rgb(33, 33, 51) 100%);
    }

    .about-3d__content {
        max-width: 100%;
    }


    .advantage__about-advantages {
        max-width: 100%;
    }

    .advantage__advice {
        padding: 95px 0px 0px;
    }
}


@media (max-width:560px) {
    .courses__card--1st::before {
        left: 30%;
    }

    .courses__card--2nd::before {
        left: 30%;
    }

    .courses__card--3rd::before {
        left: 30%;
    }

    .courses__card--4th::before {
        left: 30%;
    }
}

@media (max-width:576px) {

    .header {
        padding-top: 21px;
    }

    .header__link {
        white-space: nowrap;
    }

    .header__header-logo {
        margin-left: 33%;
    }

    .header__links-list {
        margin-top: 46px;
    }

    .about-3d {
        padding-bottom: 19px;
        margin-bottom: 34px;
    }

    .about-3d__btn {
        padding: 24px 56px;
    }

    .about-3d__title {
        font-size: 30px;
        margin-bottom: 3px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .about-3d__content {
        padding-top: 50px;
    }

    .about-3d__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0%;
        color: rgb(252, 252, 252);
        text-align: left;
        margin-bottom: 42px;
    }


    .advantage {
        margin-bottom: 25px;
    }

    .advantage__content {
        padding-top: 20px;
    }

    .advantage__about-advantages {
        max-width: 99%;
        margin-bottom: 6px;
    }

    .advantage__adviсe-list {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .advantage__title {
        font-size: 20px;
        margin-bottom: 9px;
    }

    .advantage__advice {
        min-width: 95%;
        padding-left: 121px;
        padding-top: 15px;
        background-position-x: 16px;
        background-position-y: 8px;
    }

    .advantage__advice--1st {
        padding-top: 15px;
        background-position-y: 16px;
        padding-bottom: 7%;
    }

    .advantage__advice--2nd {
        background-position-y: 13px;
        padding-bottom: 7%;
    }

    .advantage__advice--3rd {
        background-position-y: 9px;
        padding-bottom: 7%;
    }

    .about-teachers {
        padding-top: 47px;
        padding-bottom: 28px;
    }


    .about-teachers__title {
        font-size: 20px;
        margin-bottom: 31px;
    }

    .about-teachers__text {
        margin-bottom: 10%;
    }


    .about-teachers__img {
        width: 100%;
        height: 177px;
        margin-bottom: 29px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .courses {
        padding-top: 4px;
        margin-bottom: 15px;
    }

    .courses__content {
        padding-top: 43px;
    }

    .courses__title {
        font-size: 20px;
        margin-bottom: 26px;
    }

    .courses__card--1st::before {
        left: 61%;
    }

    .courses__card--2nd::before {
        left: 61%;
    }

    .courses__card--3rd::before {
        left: 61%;
    }

    .courses__card--4th::before {
        left: 61%;
    }


    .courses__card {
        height: 654px;
    }

    .courses__card-content {
        padding-top: 71%;
        padding-left: 29px;
        width: 100%;
    }

    .courses__card-title {
        margin-bottom: 1px;
        max-width: 195px;
    }

    .courses__text {
        max-width: 100%;
        margin: 0;
    }


    .courses__card--1st {
        background-image: url('../images/Cinema-4d\ mobile.jpeg');
    }

    .courses__card--2nd {
        background-image: url('../images/blender\ mobile.png');
    }

    .courses__card--3rd {
        background-image: url('../images/3ds\ mobile.png');
    }

    .courses__card--4th {
        background-image: url('../images/ZBrush\ mobile.png');
    }

    .advantage__box {
        display: none;
    }

}



/* 
* {
    border: 1px solid red;
} */