@font-face {
    font-family: "Montserrat";
    src: local("SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: local("ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: local("Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat';
}


h1,
h2,
h3 {
    margin: 0;
}

h3 {
    font-weight: 700;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.button-reset {
    padding: 0;
}

.list-reset {
    list-style-type: none;
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    max-width: 1920px;
    padding-left: 75px;
    padding-right: 75px;
    margin: 0 auto;
}

/* header */

.header {
    padding-top: 10px;
    padding-bottom: 14px;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 50px;
}

.header__header-content {
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__links-list {
    gap: 88px;
    margin-right: 94px;
    max-width: 100%;
}


.header__list {
    font-size: 17px;
    font-weight: 600;
}


/* LINKS */

.header__link:active {
    transition: 0.3s;
    color: #E1670E;
    text-decoration: underline 2px #E1670E;
    text-underline-offset: 7px;

}

.header__link:focus-visible {

    transition: 0.3s;
    outline: 2px solid #F90;
    outline-offset: 5px;
}

.header__link:hover {
    transition: 0.3s;
    text-decoration: underline 2px #F90;
    text-underline-offset: 7px;
}




/* BTN */
.header__btn {
    background: none;
    border: none;
    outline: none;
}

.header__btn svg rect {
    fill: #000;
}

.header__btn svg path {
    stroke: #000;
}

.header__btn:hover svg rect {
    fill: #FF9900;
    transition: 0.3s;
}

.header__btn:hover svg path {
    stroke: #FF9900;
    transition: 0.3s;
}



.header__btn:focus-visible {
    border: 2px solid #FF9900;
}

/* Projects */

.projects {
    margin-bottom: 50px;
}

.projects__content {
    background-image: url(../img/photo-of-project.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 95px;
    padding-left: 80px;
    padding-right: 35px;
    border-radius: 35px;
}

.projects__title {
    font-weight: 800;
    color: #FFF;
    font-size: 70px;
    margin-bottom: 35px;
    max-width: 837px;
}

.projects__text {
    font-size: 25px;
    color: #fff;
    margin-bottom: 90px;
    max-width: 790px;
}

.projects__btn {
    max-width: 100%;
    min-height: 78px;
    border-radius: 16px;
    background: #F90;
    border: none;
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
    padding-right: 37px;
    padding-left: 37px;
    outline: none;
}



.projects__btn:hover {
    transition: 0.3s;
    background: #FFB84D;
}

.projects__btn:focus-visible {
    transition: 0.3s;
    background: #FFB84D;
}

.projects__btn:active {
    transition: 0.3s;
    background: #E1670E;
}

/* about-us */

.about-us {
    margin-bottom: 105px;
}

.about-us__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-us__text {
    max-width: 1235px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 50px;
}

.about-us__card {
    flex-direction: row;
    flex-direction: column;
}

.about-us__cards {
    gap: 32px;
}

.about-us__big-card {
    width: calc((100% - 32px) / 2);
    max-height: 622px;
    background-image: url(../img/about-us.png);
    background-repeat: no-repeat;
    border-radius: 32px;
    flex-direction: column;
    justify-content: end;
}

.about-us__txt-btn {
    flex-direction: row;
    padding: 50px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.50);
    align-items: center;
}

.about-us__text-mini {
    color: #fff;
    max-width: 433px;
    margin-right: 160px;
    line-height: 32px;
}

.about-us__btn {
    max-width: 100%;
    max-height: 60px;
    border-radius: 16px;
    border: 3px solid #F90;
    background: none;
    font-weight: 700;
    font-size: 17px;
    color: #FFF;
    padding: 19px 38px;
    outline: none;
}

.about-us__btn:hover {
    transition: 0.3s;
    background-color: #F90;
    border: 3px solid #F90;
}

.about-us__btn:focus-visible {
    transition: 0.3s;
    background-color: #F90;
    border: 3px solid #F90;
}

.about-us__btn:active {
    transition: 0.3s;
    background-color: #E1670E;
    border: 3px solid #E1670E;
}

.about-us__small-cards {
    width: calc((100% - 32px) / 2);
    flex-direction: column;
    gap: 32px;
}

.about-us__small-card {
    background-repeat: no-repeat;
    background-position: 65px 60px;
    border-radius: 32px;
    ;
    border: #cacaca solid 1px;
    padding: 65px 118px 65px 300px;
}

.about-us__small-card--first {
    background-image: url(../img/box.png);

}

.about-us__small-card--second {
    background-image: url(../img/gear.png);
}

.about-us__minicard-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
}

.about-us__minicard-text {
    font-size: 16px;
    max-width: 100%;
    line-height: 32px;
}

/* STAGES */

.stages {
    margin-bottom: 88px;
}

.stages__content {
    position: relative;
    min-height: 400px;
}

.stages__content::before {
    content: "";
    position: absolute;
    width: 49%;
    bottom: 0;
    right: 4px;
    top: 96px;
    background-image: url(../img/stages.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;

}



.stages__div {
    width: 40%;

}

.stages__title {
    font-size: 48px;
    font-weight: 400;
    max-height: 59px;
    margin-bottom: 32px;
}

.stages__title-h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.stages__txt {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 18px;
    text-align: left;
}

.stages__btn-1st,
.stages__btn-2nd {
    padding: 19px 38px;
    outline: none;
}

.stages__btn-1st {
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    background: #F90;
    border: none;
    color: #FFF;
    margin-right: 32px;
}

.stages__btn-1st:hover {
    transition: 0.3s;
    background: #FFB84D;
}

.stages__btn-1st:focus-visible {
    transition: 0.3s;
    background: #FFB84D;
}

.stages__btn-1st:active {
    transition: 0.3s;
    background: #E1670E;
}

.stages__btn-2nd {
    background: none;
    border-radius: 16px;
    border: 1px solid #000;
}

.stages__btn-2nd:hover {
    transition: 0.3s;
    background: #666;
    color: #FFF;
    border: none;
}

.stages__btn-2nd:focus-visible {
    transition: 0.3s;
    background: #666;
    color: #FFF;
    border: none;
}

.stages__btn-2nd:active {
    transition: 0.3s;
    background: #000;
    color: #FFF;
    border: none;
}

/* QUESTIONS */

.questions {
    margin-bottom: 85px;
}

.questions__content {
    padding: 15px 0;
}

.questions__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 32px;
}

.questions__cards {
    gap: 32px;
}

.questions__card {
    width: calc((100% - 32px * 2) / 3);
    padding: 70px 65px 65px 56px;
    border-radius: 32px;
    border: 1px solid #CACACA;
}

.questions__card-title {
    font-size: 24px;
    font-weight: 700;
    max-width: 412px;
    margin-bottom: 8px;
}

.questions__card-txt {
    max-width: 450px;
    font-size: 16px;
    line-height: 32px;
}


/* FOOTER */

.footer {
    background-color: #000;
    padding-top: 50px;
}

.footer__container {
    justify-content: space-between;
    flex-direction: row;
}

/* FOOTER_LINKS */

.footer__links {
    width: 21%;
}

.footer__logo {
    margin-bottom: 27px;
}


.footer__li:not(:last-child) {
    margin-bottom: 17px;
}

.footer__li:last-child {
    margin-bottom: 100px;
}

.footer__link {
    color: #cacaca;
    font-weight: 600;
}

.footer__link:hover {
    transition: 0.3s;
    color: #FF9900;
}

.footer__link:focus-visible {
    transition: 0.3s;
    outline: 2px solid #F90;
    outline-offset: 5px;
}

.footer__link:active {
    transition: 0.3s;
    color: #E1670E;
}

.footer__icon svg {
    fill: #666;
    outline: none;
}

.footer__icon:focus-visible  {
    transition: 0.3s;
    outline: 1px solid #FF9900;

}

.footer__icons {
    gap: 25px;
}


.footer__icon:hover svg {
    fill: #FF9900;
    transition: 0.3s;
}

/* FOOTER_FORM */


.footer__request {
    width: 33%;
}

.footer__title {
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 28px;
}


.footer__form {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 32px;
}


.footer__short-form {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    padding-right: 12px;
    min-height: 60px;
}

.footer__long-form {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 94px;
    min-height: 150px;

}

.footer__short-form,
.footer__long-form {
    width: 100%;
    background-color: #414141;
    color: #CACACA;
    border-radius: 15px;
    border: none;
}

.footer__short-form:hover,
.footer__long-form:hover {
    background-color: #666666;
    transition: 0.3s;
}

.footer__short-form:focus-visible,
.footer__long-form:focus-visible {
    background-color: #666666;
    transition: 0.3s;
}

.footer__short-form:active,
.footer__long-form:active {
    background-color: #666666;
    transition: 0.3s;
}


.footer__btn-radio {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.footer__label {
    gap: 4px;
    padding-left: 1.2em;
}


.footer__txt-radio {
    color: #CACACA;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.footer__radio  {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.footer__checkbox {
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url('../img/Check-off.svg');
    margin-left: -1.2em;
}

/* Checked */

.footer__radio:checked + .footer__checkbox {
    background-image: url('../img/Check.svg');
}

.footer__btn {
    padding: 19px 48px;
    border-radius: 16px;
    background: #F90;
    color: #FFF;
    width: 107%;
    outline: none;
}

.footer__btn:hover {
    background-color: #FFB84D;
    transition: 0.3s;
}

.footer__btn:focus-visible {
    background-color: #FFB84D;
    transition: 0.3s;
}

.footer__btn:active {
    background-color: #E1670E;
    transition: 0.3s;
}



/* FOOTER_TXT */

.footer__txt {
    width: 21%;
}

.footer__p {
    position: relative;
    top: 91px;
    left: 10px;
    font-size: 16px;
    line-height: 200%;
    color: #FFF;
}

/* MEDIA */
@media (max-width:1908px) {
    .about-us__small-card {
        padding: 65px 118px 51px 300px;
    }
}




@media (max-width:1850px) {
    .about-us__small-card {
        padding: 65px 118px 65px 56px;
    }

    .about-us__small-card {
        background-position: 509px 60px;
    }

    .about-us__text-mini {
        margin-right: 65px;
    }
}

@media (max-width:1600px) {
    .about-us__small-card {
        background-image: none;
    }

    .about-us__small-card {
        padding: 65px 40px 65px 56px;
    }
}

@media (max-width:1421px) {
    .container {
        max-width: 1024px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 40px;
    }

    .header__links-list {
        gap: 65px;
        margin-right: 113px;
    }


    .projects {
        margin-bottom: 37px;
    }

    .projects__content {
        padding-top: 169px;
        padding-bottom: 160px;
        background-image: url("../img/low-angle-photo-of-balconies.png");
    }

    .projects__title {
        font-size: 60px;
        max-width: 778px;
        margin-bottom: 18px;
    }

    .projects__text {
        font-size: 18px;
        margin-bottom: 65px;
    }


    .about-us {
        margin-bottom: 80px;
    }

    .about-us__text {
        margin-bottom: 62px;
    }

    .about-us__text-mini {
        margin-right: 217px;
    }

    .about-us__cards {
        align-items: start;
        flex-direction: column;
    }


    .about-us__big-card {
        width: 100%;
        background-image: url("../img/about-us-big-card__1024.png");
        min-height: 640px;
    }

    .about-us__small-cards {
        width: 100%;
    }

    .about-us__small-card {
        width: 100%;
        padding-top: 65px;
        padding-right: 157px;
        padding-left: 33%;
        padding-bottom: 77px;
        background-position: 65px 60px;
    }


    .about-us__small-card--first {
        background-image: url(../img/box.png);

    }

    .about-us__small-card--second {
        background-image: url(../img/gear.png);
    }

    .about-us__minicard-title {
        max-width: 100%;
    }

    .about-us__minicard-text {
        max-width: 100%;
    }

    .stages {
        margin-bottom: 66px;
    }

    .stages__txt {
        line-height: 28px;
    }

    .stages__content::before {
        width: 47%;
        background-image: url("../img/stages-1024.png")
    }

    .questions {
        margin-bottom: 54px;
    }

    .questions__cards {
        flex-direction: column;
    }

    .questions__card {
        width: 100%;
    }

    .questions__card-title,
    .questions__card-txt {
        max-width: 100%;
    }

    .footer__txt {
        display: none;
    }

    .footer__request {
        width: 59%;
    }

    .footer__links {
        width: 25%;
    }

    .footer__btn {
        padding: 19px 35px;
    }

    .footer__btn-radio {
        flex-wrap: nowrap;
    }

}

@media (max-width:1024px) {
    .container {
        max-width: 1024px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 40px;
    }

    .header__links-list {
        gap: 65px;
        margin-right: 113px;
    }


    .projects {
        margin-bottom: 37px;
    }

    .projects__content {
        padding-top: 169px;
        padding-bottom: 160px;
        background-image: url("../img/low-angle-photo-of-balconies.png");
    }

    .projects__title {
        font-size: 60px;
        max-width: 778px;
        margin-bottom: 18px;
    }

    .projects__text {
        font-size: 18px;
        margin-bottom: 65px;
    }


    .about-us {
        margin-bottom: 80px;
    }

    .about-us__text {
        margin-bottom: 62px;
    }

    .about-us__text-mini {
        margin-right: 217px;
    }

    .about-us__cards {
        align-items: start;
        flex-direction: column;
    }


    .about-us__big-card {
        width: 100%;
        background-image: url("../img/about-us-big-card__1024.png");
        min-height: 640px;
    }

    .about-us__small-cards {
        width: 100%;
    }

    .about-us__small-card {
        width: 100%;
        padding-top: 65px;
        padding-right: 157px;
        padding-left: 33%;
        padding-bottom: 77px;
        background-position: 65px 60px;
    }

    .about-us__minicard-title {
        max-width: 100%;
    }

    .about-us__minicard-text {
        max-width: 100%;
    }

    .stages {
        margin-bottom: 66px;
    }

    .stages__txt {
        line-height: 28px;
    }

    .stages__content::before {
        width: 47%;
        background-image: url("../img/stages-1024.png")
    }

    .questions {
        margin-bottom: 54px;
    }

    .questions__cards {
        flex-direction: column;
    }



    .footer__txt {
        display: none;
    }

    .footer__request {
        width: 59%;
    }

    .footer__links {
        width: 25%;
    }

    .footer__btn {
        padding: 19px 35px;
    }

    .footer__btn-radio {
        flex-wrap: nowrap;
    }
}


@media (max-width:992px) {

    img {
        max-width: 75%;
    }

    .projects__text {
        max-width: 90%;
    }

    .header {
        padding-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 40px;
    }

    .header__logo {
        margin-right: 5px;
    }

    .header__link {
        font-size: 16px;
    }

    .header__links-list {
        gap: 40px;
        margin-right: 44px;
    }

    .about-us__small-card--first {
        background-image: url('../img/box-768.png');
    }

    .about-us__small-card--second {
        background-image: url('../img/gear-768.png');
    }


    .about-us__big-card {
        background-size: cover;
        background-image: url('../img/about-us-big-card-768.png');
    }

    .about-us__txt-btn {
        padding: 34px;
    }

    .projects__content {
        background-image: url('../img/photo-of-project-768.png');
    }

    .projects__content {
        padding-right: 29px;
        padding-left: 43px;
    }

    .projects__title {
        font-size: 50px;
    }

    .about-us__text-mini {
        margin-right: 30px;
    }

    .about-us__small-card {
        width: 100%;
        min-height: 235px;
        padding-top: 35px;
        padding-right: 48px;
        padding-bottom: 35px;
        padding-left: 170px;
        background-position: 41px 65px;
    }

    .about-us__small-cards {
        min-height: auto;
    }

    .about-us__minicard-text {
        max-width: 450px;
    }


    .stages__main-block {
        padding-top: 327px;
        width: 100%;
    }

    .stages__content::before {
        width: 100%;
        background-image: url('../img/stages-768.png');
        left: 0;
        right: 0;
        height: 281px;
        background-size: cover;
    }

    .stages__div {
        width: 100%;
    }

    .stages__txt {
        line-height: 33px;
    }

    .questions__card {
        padding: 38px 42px 33px 40px;
    }

    .questions {
        margin-bottom: 67px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__list {
        display: none;
    }

    .footer__btn-radio {
        gap: 32px;
    }

    .footer__request {
        width: 81%;
        margin-bottom: 50px;
    }

    .footer__logo {
        min-width: 130%;
        margin-bottom: 16px;

    }

}

@media (max-width:767px) {

    li {
        min-width: fit-content;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__header-content {
        flex-wrap: wrap;
    }

    .header__links-list {
        margin-right: 0;
        order: 3;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        overflow: scroll;
    }

    .header__logo {
        margin-right: auto;
    }

    .projects {
        margin-bottom: 60px;
    }

    .projects__content {
        border-radius: 16px;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 59px;
        padding-left: 22px;
        padding-right: 21px;
        background-image: url('../img/projects-content-320.png');
    }

    .projects__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .projects__text {
        font-size: 12px;
        margin-bottom: 37px;
        line-height: 13px;
    }

    .projects__btn {
        font-size: 12px;
        min-height: 41px;
        padding: 15px 27px;
    }

    .about-us {
        margin-bottom: 51px;
    }

    .about-us__title {
        font-size: 24px;
    }

    .about-us__text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .about-us__big-card {
        background-image: url('../img/about-us-big-card-320.png');
        background-position: top;
        background-size: contain;
        min-height: auto;
        padding-top: 72%;
    }

    .about-us__txt-btn {
        background: none;
        flex-direction: column;
        padding: 0;
        align-items: start;
    }

    .about-us__btn {
        padding: 11px 41px;
        border-radius: 8px;
        color: #F90;
        font-size: 12px;
    }

    .about-us__text-mini {
        font-size: 14px;
        margin-right: 0;
        line-height: 28px;
        color: #000;
        margin-bottom: 10px;
        padding-right: 15px;
    }

    .about-us__small-card {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 7px;
        padding-top: 63px;
        padding-bottom: 0;
        border: none;
        background-position: 1px 1px;
    }

    .about-us__minicard-title {
        font-size: 18px;
    }

    .about-us__minicard-text {
        font-size: 14px;
        line-height: 28px;
    }


    .about-us__small-card--first {
        background-image: url('../img/box-320.png');
        margin-bottom: 0;
    }

    .about-us__small-card--second {
        margin-bottom: 0;
        background-image: url('../img/gear-320.png');
    }

    .stages {
        margin-bottom: 50px;
    }

    .stages__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .stages__content::before {
        top: 50px;
        height: 160px;
        border-radius: 17px;
    }

    .stages__main-block {
        padding-top: 183px;
    }

    .stages__title-h3 {
        font-size: 18px;
    }

    .stages__btn-1st {
        font-size: 12px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .stages__txt {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .stages__btns {
        display: flex;
    }

    .stages__btn-1st,
    .stages__btn-2nd {
        padding: 12px 43px;
    }

    .stages__btn-2nd {
        font-size: 12px;
        padding: 12px 33px;
        border-radius: 10px;
    }

    .questions {
        margin-bottom: 51px;
    }

    .questions__title {
        font-size: 24px;
        margin-bottom: 18px;
    }

    .questions__card {
        border: none;
        padding: 0;
    }

    .questions__card-title {
        font-size: 17px;
    }

    .questions__card-txt {
        font-size: 14px;
        line-height: 28px;
    }

    .footer {
        padding-top: 30px;
    }

    .footer__logo {
        min-width: auto;
    }

    .footer__request {
        width: 100%;
    }

    .footer__title {
        font-size: 24px;
        margin-bottom: 19px;
    }

    .footer__icons {
        gap: 16px;
        padding-left: 18px;
    }

    .footer__links {
        padding-left: 79px;
        width: 100%;
    }

    .footer__btn {
        font-size: 12px;
        border-radius: 10px;
        padding: 12px 18px;
    }

    .footer__btn-radio {
        justify-content: center;
        flex-wrap: wrap;
        gap: 22px;
    }

    .footer__icon svg {
        width: 40px;
        height: 40px;
    }





    /* * {
        outline: 2px solid red
    } */
}